{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ connexion.id }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ connexion.idUser }}</td>
            </tr>
            <tr>
                <th>Passworduser</th>
                <td>{{ connexion.passworduser }}</td>
            </tr>
              <tr>
                <th>role</th>
                <td>{{ connexion.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_connexion_index') }}">back to list</a>

    <a href="{{ path('app_connexion_edit', {'id': connexion.id}) }}">edit</a>

    {{ include('connexion/_delete_form.html.twig') }}
{% endblock %}
